@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
// @import './sidebar.scss';


body {
  height: 100%;
  background-color: whitesmoke;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100vh;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// 布局头
.el-header {
  height: 70px;
  margin: 0;
  padding: 0;
}

// 视图头部导航区
.el-page-header {
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

// 靠右的重置、提交按钮样式
.btns {
  display: flex;
  margin-left: auto;
  justify-content: right;
}

// 底部分页
.page {
  height:50px;
  display: flex;
  background: white;
  padding: 6px 0;
}
.el-pagination {
  margin-left: auto;
  margin-right: 8px;
  justify-content: right;
}

// 页面头部横向
.head-row {
  margin-top: 6px;
  display: flex;
  align-items: center;
}

// 警告按钮
.warnBtn{
  color: darkorange;
}

// 危险按钮
.dangerBtn{
  color: red;
}

// 向左的箭头
.arror-left {
  width: 10px;
  height: 10px;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  transform: rotate(-45deg);
}


